a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3 {
    margin: 0;
}
body {
font-family: "Manrope", sans-serif;
color: rgba(18, 20, 23, 0.5);
font-size: 16px;
background: #fff;
}
.header {}

.container {
    width: 1054px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-right: auto;
}
.logo {
        font-weight: 700;
        font-size: 20px;
        color: #121417;
        margin-right: 138px;
}
.logo-part {
    color: #4dc274;
}

.header-list {
    display: flex;
    gap: 20px;

}

.header-item {}

.header-item-link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.28571;
        color: #121417;
}

.social-list {
    display: flex;
}

.social-item {}

.social-item-link {
    width: 40px;
        height: 40px;
        background-color: #121417;
        display: block;
}